<section class="section background">
  <div class="section__content">

    <h2 class="intro__tagline">
      <span class="name">Graduation Photos</span>
    </h2>

    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
      data-link="https://photos.app.goo.gl/J6YG6nmDsyvDA6GA8"
      data-title="Cornell Graduation (2021)"
      data-description="54 new photos added to shared album">
      <object data="https://lh3.googleusercontent.com/mMlxO5Pn-1fLuwsi1Jl-l-e1Y1oEh84jH4MO01EIxZ3AaB9aLNsHl6LcrLVS9q8hFonHPsn9qPXV9TXqI9IrB6vy6GRJrvqetf9E8ReIkQO7ulK2P0UiPrnIJSeP5SJhiiuTKLrcqlI=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/DsQwUHMCR6Ye_uYspWoKpIUKV14ejRN5fkgel65Dpu5ABiJg6ZY2sn92uM-i5xJHAwN3vsm2ILr0R44MNNRfaYZOKyEHn-hfSKAJZ3N2TVyh1HhSbpHvzNtuI0PeH_QefKUAE1Yax0A=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/9a9mtQC9bJp97VYLAa1X6XwP6F6l5jI_4vpahv8foksorS6_D-GJdlnRdvjtfEjwidZKci3W19Kkec_btgiAP0BJh2nuT3oZCJJ1UyQzuqqFbJTXQ-6luVOvAr7eyBG9areplvF1AxY=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/wVet0AXpkAF45U3nEyuui6O5ajV0DesUO8H7gUc8B7N5Lp2o924oslCAcLMiEnGm1CSFYMfQ-Y35uXUJZaShdn1QmY9VXUWyXEKT3_di822cWuwEz3JtEJ6N6esS4QVEcvifGy3c600=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/SFXbEUHoIbXveS-rR5VKDq-4S4rirEODCevSeXya4Sc8rImgNmPknCZ46OYV6qq7n8VEGfouwuQezz9emMpBOcJkUwN5y-dwW2LPW8ml60yJ0HWowAzeiL20nAeEyyTsJXtdbfh21iE=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/O-38FN9EOj1ZWsussj1uq3tFRBOXyrks8cl5MIFXNgVjhdzt_6lNUm9Zlbt-YVsVOdejQVEObXC9BQRGqWRaIDKD6aU-AqQK6LOdzq9T7dMd-9TcTTF_ASaKcnpRWWvGv9f4DnbtNcg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/WtqZ1e2xPpH8nSooBA2vDoYcmKc9as9y7lBEfSNyXcfq1vDBteC58SWx1_ylfPzkHhHhk_MjSij88EW1Pz_-v-U5nDdhBksiy6_2sR5Yr8RMZfe1_KaQsEtSPvAITmiHX3CHv2b1egc=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/HzZIC7ZEdlPzS8iCxyeP8-L630C1ykKr0LI1I95WDDPtFju75bjo9JmUItKOqUEJp4YnrU2WYqS0bJz8PKMnyzY2iY1-mNsQfWMXPsR5IAz3ttE-W13xZ_j7f-mxchtS5awI0D4F1pI=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/4FsT3xJOEwoEF8R_V2MMAFoQFLriYltaZAwfGIZJfCLelzYTf5Y9-PYEUSgyunSl0oVgMY7lviNRB2dLJqfsjeAff2Ou7Sr-CNHEW_kCRpa--i0Fn0cTwrrRofQcjqDbyIOt6UvBlzg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/9bBKITBy4UPmulBtpvM55Yk3bgRVI8szQhiJIR2W2nVCiedDbx2c9DsHuFpXnnIEIYCII0zT-Lsx3Wjd09nJiikBbw-s4Gcx6OMuYAjMM3kNDPxAz8QbqTKHoFORILM8ml8vchW6YTo=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/RrFHMoXxn6ykO1d1QqqiI3m-bINVkt8lk7486kYp2MDbRw60WsEAdHzzyALLbJwaZYLrGoWgPOg8ICHfrI5IQDpzl3OVfKDdQwce2zmiCINL0GN_Mbi_vAtjew0CJEGmTpaQE4Ur4L4=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/QN78KVxI3vZ0GdmZj8prUx_bZery3oPtFYgDVtxUPbYUX9L3Wza61qRUYpO7yfAHsflZGQ-s8HBUU8JD-qxI6kfiM0ZCiaif8REIulWQi6mRntUYjnP1Dl_iFNtasXEGQRF3t3iv2IM=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/7ocCoBzikPcmc4lUzRxat54l6osvOW_8k01GEUwTEagFIkh3USWzw5HZuKVY4bS1VpEnE5ngzjJfw6xmCxxeuwsS57uHW75FfJ0Bcl8bBSMUo5hJGYAjhbk_T_cbu0LYV-0a3DFvT_w=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/iSXxlyvMe1VGJY7uqQcibMkbmWzGibxXojX-GLlJRm5wCKdw3sZQ-Ea8pTzHTa6cz99lDJdBdfc6FzS6jVgCcqpJXVvH0X6GOmHXxDCZsGF1WnTYMl1JT-a6hedL5b-aW2gKPxZ6rY0=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Oqoi1YOUvszbFdjvexnDKlM_9clChbU9hdn2M2xRdACao1q1qAB3Zkj1kxwtI6Mol3H6-pvQ6rWNf8Xkrx1HJKZgSoDV5_I-yNtIA8D3FtMBsa7seE1Zdu9UyE9Hqo8kmD0Y6dP-AC4=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/qae6hrLNzRuYU5Jrnf3vTXAUYpv8nKC9XtrEAAopbihfGszb7oHUlZRoyCwe9kzsfGR5q5dpQW5zJiGbrXpJUrCQhOY7dcLq9Y1az-1Eyu8eZ57ZnNVF2c1z9O4wAR-kQpeQsFYnmCg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/-y4xd__bk3PI2X3lUVBlHpeAGxVwckHAYikAl-D8l8Gs-_JgyGBnE0JegqB84h6UJ2DNIpRt5RtCLNZORkSBlm40mPCqMpBPjJUDPs0dQEJU0qKF94pPM1UoE3ZMUayi_4SKx3DpZwM=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/w3DazPWafZ4go-cTgPJQ5vleP_7OEi5HCNLcyg_YX_gVI3HwP84So4KQF01uFnDbhM6elAFs0oF8GC_AxgStaJuHJV2VQarORqTaThaPtRVkElT0xo8qtlP7A79hd7IQpk_g9jKYJP0=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/IjavgNqyQA2cPkbNWNvd3IqlA4hmWniOS12ii6jueOqJDSXnvgoHfQTP_2jWSn6hYU7drrAVnnDClYE3wO5f4CwBu7j3kDIgo-03l7-Da9LziGntrTOuOOv85OCTPmIGcdAM-igL00w=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/8KNkdTOIzO4L0ZdNrxl4V4qhfeEOAgftXH7Fx3PEI78u1x0O78zgtm0n7-l6MVeiBJd7AAhWTX8AEFE5EbM_LAvbNttFhX_G3nymlazvah5lwrCCC3Xt5fnvs4IVkA8l2Jg-kUtJy5k=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/NtgGf2qytRUW0EwnEWXcDxax_-6Z0bB98p4XZ09RX-6brLs-SBs46ONfTpjpjeLblsYbuZ39kJBDd_TxpBabUrc44ii2SrhODvybzGmOPZIODJE8WdipP3gr4TGNehkmcKGZdGFbs5k=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/PZgpMoUa8F28yuicunBRohcegSeXe5hJfi7ppULqcqIcRHVgNGQO6P3oElJ2clA0xEvlRf35W8UIRrDutyb6v4yK7xswui1_lpiFUfzQv8ZnXADiqXg7Jh4t9W6zxeAqEd7bH9rNuRQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/s7WJlEEaQB-LDPE3ABqeuz0FVsrIZ-ckb0T0v4CX3nhuHgi-VD9HWh4_0DiaAJ76i3YU7nGpbE2jZI1VGCfl5yhzELNvJ7O69KSLN5fihoL3TLlQlBkheJ7HzfYRAKIUQyT5D23uinY=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Wp-G0kj-7Ki2Okz7pfdvtbwRehsYBmVQ6HznknEhUOBRMY5BDBzxNhu89ztcWGWW_yQYVpu1nEsEcY7TAet7aKxUQ2RbUP4BHXkjuURxBs4W5SJP8mwQ4tvkK7g8FfG79fDbTazQCkI=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/rnVK0QosY9lSSr85s9tWj7L4a-b0jbrnfF4zE95SEDj2g_HLYZCOMw9YSo1ZJ6mttaUBycFvBwRfhTr1OPtmowrVfz87bxCt_rkcHXkqhYOELewpHCz6dHFnfosvID7RWj-3-bhmNCk=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/He_XhqybXufV6fydUFcgh_ItZmHbOSGtFoamdyOnlE6gI1OcCpjt1xYM8UGedYvQ2ujPxD_p41QOejH25XOASOOl-ERcvqYKjvEIUQ_IH5L549CNbh2njAxU9OWA8Zogdb5Uj1uz3xo=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/WZs6dSDo3SN4RqkDix6fj2cIIQV_VTNtI2NfDaKNuP2bI1wpH859QRRvfgdg1A4ibL2tY4Xhbv8ao_W_3YRL31QzuxE0vEwgfsGvehBhmSc_42zr2xZLTMCLY6PwWKjTkz1HoPbVpyE=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/fzVCCl3uLpz1K2kfjLfSxJ8Q8q61Kgy_sIa4KR3VGb-zEmxlHcPVGUxriLAmoK5bpqFe__XwITNMPOvy7bshuSveiWmDUxo9nO8oR73k4GrZkDJXRbKNXaHI2e14Uj_769FKeJbmcyY=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Q0vY0--Eh1BRz6iVQcSONE8jvCs8AmFiNf4nJ2ooqrIELFrfvauj4Y1mal_ACDS4HsGut5YzsTNdCDnBiy89vzaGbjYFq4cfxRAr-to8AEJdokShC0PysNAaHnpEGgn5-Ywxkf1BBbU=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/cMBTq3q9MiI08srM_s1dvEEyCnG50ipvrexzmYzKDQB42wKSWRiLcPQD69IW2Lo0kY2qYY_sgRRXmVAELw-nQUmYZpMK2sgq-b7528XjbdSLlg_LXZG8fn2b8eXUyk_mCTuuPx3lLtM=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/3MK4DeRilTWpQYL7XBEz8le09jIlMYrCOB_77bdKho7tqqtat_qUynZL1efNfQ1stD73wMVJztYasaBqMTzqksqqazZdyvNdUc202HxA6l0tY1OJa5FPFXRIRg0k0MSl_7C8R3ydA3Q=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/UL8sKf7gnjen2Z8r8rr_siAUG50LFCpcw9WW2hPecCrKTuYcwoHT_BqV4FD9ZTmStRDaiRNsuJV8CeLYysml__zu7SKNfu4wMZbcbISBUEKhPExIkbSvg9POUWvyJ41gdhUQGK2FsYc=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/eyRe4EUoKTMJBRaWdaF6buA66Vg77meZj6vMBq0WD9NVMaRl-hungcCOsLe1Py-v4DiYkZSKe6GxUcLR-95K-cIbe1BIFpNEQ6ayiOGO9C1pePVmcZ9QzzRbfbmNFK1-RvEPP4hlQFU=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/f3ejg1Et_676lPxasCr0ZqWRFTsh6htU0BEIfXDNUWNvtMmS3BPELtKd8s1hJNc06djS65NXwUk8ki_BwmRvPZc-1jgmlpiCmWmDn_VtWZoD6cFgT3xb8K5pRhFSwzFCTnW1QndQOKo=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/3rvjqCyA7E2aoFf6dGZyyD3TuZ6WqEUT5oQoexBPjxKmfb-102vS3ENMwaDxfSW0aVEfHAAkj3CQdztnlZ7AvJYWszemiBNn89oTMHgyZ_ULwUfKEJ3VF47q-d7iVbUKlXZbDTCcc3g=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/CtppA8oXhuzIScWEp4Tme2N-nGVplsJ1IOsnnjr1DI8OwZY832QFbxerbw-A4V4V3Ni3G4HlIcUW3n19keH5oNOCmjSdjO_4tbfvYjiuNmEtjeNnubKC6T4ghR6tpFtYsUvF4rDJxKk=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/nI5UrXWMhwdxCaXbrBBrh8TybAh_lGMijPO1qyJXM6lxy2QT9vSoThWfmLFiI2nt6nMkMU6EuCrF17dO5PjdUR9_o1KS7nibrcgVgGVcclMmXCM7odtuBv_O1vL5piN5u9HbGKaUBRA=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/Sl0TtiqiSM2BF-dWGyUAV5NTzUpP9Z8QWXCjU_6f0f-h3ywAyl7ALq3ezyTjryW1TQd8GcI_B-UOXkMtnEDySv5YMfY0u1RXJJ3Vfdkun_E7NUuBrBK1twuRT3AfCt-t_1mTh2Wug_4=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/MzhpL-NOrPo33HMHdYCZl4IWIvFACtyR-Py2SmCeF9mRZ9JQjLCPVDbQuJJ6dPDLNPX6Avy7BkMZxOLZ2TX2nhTLlaKFjmJs-G76Gyb3XHdY5znbjKz1RpfBxv_fpjM1TFNm1BypI-I=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/koe65r6b4bYkqZCiJHY3IqbfMtXxry_W7243eaHO4wWCps20n9xWDic2wUvUk0uSoV-m5w_SzUJE4uVEZyFoMqma5ECLYJoUc-S4BEYxBVO5Md3yg8FByCnNFvLiT72M5sD1X4Q_3Ww=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/-aagwhqfpGvq07NAhfKCNHvlvL_jL3eAL8yTqT66ebxXc4Xzg08gq6he-3OuAXp_6YhdCo7Um06nrZVRx0eWdmjEgE0LGMdpaFCj54eSRrWHVo6g7CPeKw5PNfmPStzKldZiQBvrxGg=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/DlHcohb7QAgtQ0PIPDfvdroLSqSoLUFjIsm5aUqexmIvaAu-iYrsczOdYeMZ7__SIA9w7rkCW1oXqQmha3tSt89hqv-SUjiCMgjaY7xErwozFam7Fp5u6LOzfy41BmPxlc8FSrZU1PQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/mAkU8k2QqpxCf3v8hmVCtRUpFqPg6dfkBhU47K3XmdEPxlrm3YZyBKFuOYRCTTRVioFgDS_s680ns_Vez5y-69V4g0rM3UzNn5P8VgjAg6SkaK-uV9dymz3eSZ6n84G3II8YKkEZCWo=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/a26MgGsMtU1pjkQD-HpRs-eONcjYVdMFmy039r5JSGYioYZFRfPhaLTZu6FDUK09YYB0h9n09rDgSvE1XwfsRYGq80y43Gcgwyttnp7IN7RzpMW0aGwyzqsTMnvihuCiDgoa9niCiI0=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/36PJNubwjMLGdXa7G-v2nvCB52PyEL8_dvMa1rBr4ypNhbZH9IyJto6GSXtua0GfgTb141VtZhQgf2SQJ3zzfy2_exxVXGc0w-5Iv6uaeBnmma9DYWdQpjdClCn8n1DsPNqxq1tF-_A=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/ISkBHdhRSGi5ACmluAjQBSzLXRTkxGGq3iXs_B0UnJdl143eFTPkQ415X_svLOs30vdUmO7GF_cBA9gURLB9YV739mZIm-blJNMVzMRum57vlRGZKbfy6gEJvQpqcx5xVXdW7fqOlao=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/PnPmmg-YTnixgGMVlUmOTrC6fNvKVOTWyVv93k-cwhcG9aSvxxTT5-zikyLF4dQ6w6MxCIZ0LdWIlZZZtvN-hWjtCkTT5tHR5RxcOxJumdgId8oCTWgeG1NSldbjt251f_J-P6rp4R8=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pJab0KpnSloaDmyqHsegv0wMykCW4xh6k83tRTio3EAtgOVQrA8v391eIHenzLk-f5vLFlSZXkJ0KILKUVNS5lOlU6W018aRUCdeuvJ5KDpyGdMkv1C649u8yNTYNCLg_OyqOBLzBQQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/2jE1kPR9XV3trbTId8owqhaPozS-MrxXEuNT0_yIQbR6Zghyow-1TijfCadPvvOxDe7CJYu4069zj9Xse6CqEO-HIiRolW2SdhHwnoyd-VpaFUk7uAunxsIuUpxE5xoJTL9N0E3Og_0=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/ua7IaF4FYKmulleyzkwSlfLFWauUTYyj8YrMl8u-aHHhj1UCz-ySZo7sN5JENto2fboHVPLPg1i_kbA6jKBwjXA6zOPxPsh2WNYJMy7h5oNda6DK_4yQlXiWKE6x2L7RshUAzdkwtcA=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pHqDejNZNHByAa7ghjX4ZIZ076Ed-4bJuD825gLGUl0SytMCbXqxaF9cs_S-TpWOXM6ZMb6nSLQJXiJ7uER46ipJ7jdj3U8otKMkjK0pdxc5nbH4UMLzbXo-q1_KbkgBjvpmWsM5BRA=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/6FIz-xi3LraERV0AvgRGEmKpm9XHBD1RLHwblt4lDKRrR0EvaH6ZNUWlMKe_x-NuP3S_s6fFXK9T08sNKvrnFBS2HOn9soYfkzHhZkwCweYmXo8pY4qht62dLrhbscQ1V5rIm8rOb7k=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/AqS40uVwEgETkXDJBVxSWC8ZWbSLPcegriKpdy2noYEMVNk5EW0VG4Y6jt-vg7cXP-Mo3nRVnK5CEscRI4zpnIiYJw4mkHkS8-9KGcNt9rN_s70hOPrzwWoE2VOr8aN6ueEljQDYpFo=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/IHWpKVBlnwBabavT8J72Sq0H1Uj_bt6PrN6GLhM-_z9PWPCMfUvTMR1KpO0gWPFcTAzk_KJH0vxcL2hI-nKJ1fr3U0AcL8PZvSynIru2FI6-mkg1Ph6U7sWCmZNZ7eYWsbvL3bqtBbo=w1920-h1080"></object>
    </div>

  <h3 class="intro__contact">
    <span>
      <b>Cornell University</b> | May 29, 2021
    </span>
    <br>
    <span>
      <a href="https://tanmaybansal.com" target="_blank" class="highlight-link">Tanmay Bansal</a>
    </span>
  </h3>


  </div>
</section>
