<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      I'm a senior at
      <a class="underline-link" href="https://cornell.edu" target="_blank">
        Cornell University</a>, majoring in 
      <a class="underline-link" href="https://infosci.cornell.edu/" target="_blank">
        Information Science
      </a>
      with a triple concentration in <strong>Data Science</strong>, <strong>Behavioral Science</strong>, and <strong>UX</strong>.
    </p>

    <p>
      I'm passionate about devising innovative ways to use data.
      I've spent the last 3.5 years strengthening these skills through exploring the applications of analytics and predictive modeling with industry leaders in a different fields.
      Some of these fields are financial services, energy, media & journalism, consulting, social impact, and social science.
    </p>

    <p>
      I'm also interested in impact-focused computational social science research.
      I love beatboxing and design, and am addicted to burrito bowls and berry pies.
    </p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
