<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a rising senior at
      <a class="underline-link" href="https://cornell.edu" target="_blank">
        Cornell University</a>, majoring in 
      <a class="underline-link" href="https://infosci.cornell.edu/" target="_blank">
        Information Science
      </a>
      with a triple concentration in <strong>Data Science</strong>, <strong>Behavioral Science</strong>, and <strong>UX</strong>.
    </p>

    <p>
      I'm passionate about devising innovative ways to use data. I've spent the last 3 years strengthening these skills through exploring the applications of analytics and predictive modeling in a wide array of fields. Some of these fields are financial services, media & journalism, consulting, social impact, and social science. I've done so through internships, pro-bono consulting projects, personal projects, and academic research.
    </p>

    <p>
      I'm also interested in computational social science, especially when paired with social impact. I love beatboxing, rap, design, and am addicted to burrito bowls.
    </p>


    {% include employment-status.html %}
  </div>
</section>
