<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="https://cornell.edu" target="_blank">
        Cornell University</a>, where I majored in 
      <a class="underline-link" href="https://infosci.cornell.edu/" target="_blank">
        Information Science
      </a>
      with concentrations in <strong>Data Science</strong> and <strong>Behavioral Science</strong>. I will join <strong>Morgan Stanley</strong>
      as a Technology Analyst this fall.
    </p>

    <p>
      I've spent the last four years strengthening my data skills through exploring the applications of analytics and predictive modeling with industry leaders in a different fields.
      Some of these fields are financial services, energy, media & journalism, consulting, social impact, and social science.
    </p>

    <p>
      I'm also interested in impact-focused computational social science research.
      I love beatboxing and design, and am addicted to burrito bowls and berry pies.
    </p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
