<section class="section skills">
  <div class="section__title">Most Recently</div>
  <div class="section__content">
    <!-- <p>I’ve worked in analytics across a wide array of domains.</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Reading</div>
        <ul>
          {% for read in site.data.recent_favorites.reading %}
          <li class="skillz__category__item">{{read.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Watching</div>
        <ul>
          {% for watch in site.data.recent_favorites.watching %}
          <li class="skillz__category__item">{{watch.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Listening</div>
        <ul>
          {% for artist in site.data.recent_favorites.listening %}
          <li class="skillz__category__item">{{artist.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Eating</div>
        <ul>
          {% for food in site.data.recent_favorites.eating %}
          <li class="skillz__category__item">{{food.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
