<section class="section other-projects">
  <a name="research-section">
  <div class="section__title">Research</div>
  <div class="section__content">
    {% for project in site.data.research %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <div class = "job__position">
        <div class="height_adjust_up" style="margin-top: -0.5em;">
          {{project.collaborators}}
        </div>
      </div>
      <div class = "job__description">
        {{project.description}}
      </div>
    </div>
    {% endfor %}
  </div>
  </a>
</section>
