<section class="section skills">
  <div class="section__title">Favorites</div>
  <div class="section__content">
    <!-- <p>I’ve worked in analytics across a wide array of domains.</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Reading</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Watching</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li class="skillz__category__item">{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Listening</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Eating</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
