<section class="section background">
  <div class="section__content">
    <p>
      This is not intended to be a long-winded reflection on my time spent at college, a systematic bucket list, or platitudes about what proper education or college experiences should comprise.
      Instead, I hope this note serves as a proper reminder when I inevitably underestimate how fast time goes by during the semester.
    </p>

    <p>
      First, I want to enjoy the serenity and simplicity of Ithaca.
      I would not dare to romanticize the ruthless snowstorms that likely await our arrival, but there are far too many gorges, wine trails, and sunset spots that I would love to explore before I leave.
    </p>

    <p>
      Second, I want to spend time with the people who have mattered most to me these last three and a half years.
      I have had the great fortune of being able to meet a diverse set of students, but I understand that it would be tough for me to meet all those people properly amidst the ongoing restrictions.
      I would therefore love to savor the company of those whom I can, in fact, spend time with, those whom I credit for some of my most cherished memories.
    </p>

    <p>
      Third, I hope to remain cognizant and appreciative of the astonishingly low odds that any given person in this world would have had to indulge in the opportunities that I have been presented with over the years.
      A large portion of my trajectory has been fueled by my seniors and mentors, and I want to help out my peers however I can in the same way. 
    </p>

    <p>
      Finally, I hope I can better understand where I would go next, and how I would best do so.
    </p>

  </div>
</section>
